// Search Form
// =======================================================
// Used in masthead and 404 page
.search__form {
	display: flex;
	background: $white;
	@include border-radius();
	border: solid 1px $border-color;

	.search__input {
		flex: 1;
		border: none;
		&:focus {
			box-shadow: none;
		}
	}
	.search__button { flex : 1; max-width: 50px;}
}


// Widget Search Form
// =======================================================
.wp-block-search {
	.wp-block-search__input {
		@extend .form-control;
	}

	.wp-block-search__button  {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
	}
}

.wc-block-product-search  {
	.wc-block-product-search__field {
		@extend .form-control;

	}
	.wc-block-product-search__button {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
	}
}
